*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.4rem;
    font-family: Arial;
    color:white
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #263880;  
}

.switch{
    width: 90px;
    height: 30px;
    background-color: #285395;
    border-radius: 15px;
    position:relative; /*permet de positionner l'icone en absolute*/
    border: 1px solid #285395;
    padding:1rem;
}

.btn{
    background-color:white;
    width:30px; height:30px;
    border-radius: 50%;
    position:absolute;
    top:-1px;
    left:-1px;
    border:none;
}

.switch i{
    position:absolute;
    color:#FFD363;
    top:6px;
    right:23px;
}

.icon-change{
    left:23px;
    right:auto;
}

.moveBtn{
    right:-1px;
    left: auto;
}

.switch-change{
    background-color: rgb(187, 222, 222);
    border: 1px rgb(187, 222, 222);
}

.container-change{
    background-color: gainsboro;
}